.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

  .container {
        width: 500px;
        clear: both;

    }
  .container input {
        width: 100%;
        clear: both;
    }
    .back{
      align-content: center;
    }
    body{
      background-color: lightgray;
    }
.back img{
  /* background-image:url("https://github.com/roshni98/IEEE/blob/master/public/RutgersLogoWhiteHighlightTransparentShadowV2.png?raw=true"); */
  height: 80%;
  width:75%;
  display:block;
  align-self: center;
  background-size: cover;
  background-position: center;
}
