<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
<h1> Email Subscription </h1>
<form id="myForm">
  NetID: <input type="text" name="netid" id= "net" required><br>
  First name: <input type="text" name="fname" id="first" required><br>
  Last name: <input type="text" name="lname" id="last" required><br>
  Email: <input type="email" name="emails" id="mail" required><br>
  <label for="grad">Graduation Year:</label>
  <!-- Graduation Year: <input type="select" name="year" id="grad" required> -->
    <select id="grad">
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
    </select>
  <br>
</form>
    <input type="submit" name='name' id='submit' value="Submit">
    <!-- <input type="submit" name="action" id='unsubscribe' value="Unsubscribe" /> -->
</div>



<script type="text/javascript" src="/js/designs.js"></script>
</body>
</html>
