<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<h1> Email Subscription </h1>
<div class="container">
  NetID: <input type="text" name="netid" align="left" id= "net"><br>
  First name: <input type="text" name="fname" align="left" id="first"><br>
  Last name: <input type="text" name="lname" align="left" id="last"><br>
  Email: <input type="text" name="emails" align="left" id="mail"><br>
  Graduation Year: <input type="text" name="year" align="left" id="grad"><br>

    <input type="submit" value="Submit">
    <input type="submit" name="action" value="Unsubscribe" />
</div>
<script type="text/javascript" src="/js/designs.js"></script>
</body>
</html>
