<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
<h1> Email Subscription </h1>

  NetID: <input type="text" name="netid" id= "net" required><br>
  First name: <input type="text" name="fname" id="first" required><br>
  Last name: <input type="text" name="lname" id="last" required><br>
  Email: <input type="text" name="emails" id="mail" required><br>
  Graduation Year: <input type="text" name="year" id="grad" required><br>
<form id="myform" onsubmit="return handle_form_submission()">
    <input type="submit"  name= "action" value="Submit" />

</form>
<input type="submit" name="action" value="Unsubscribe" />

</div>



<script type="text/javascript" src="/js/designs.js"></script>
</body>
</html>
